@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

:root {
   --purple: #D4D3FB;
   --low_black: #333333;
   --gray: #76757B;
 }

* {
   font-family: 'Manrope', sans-serif;
   margin: 0;
} 

body {
   background-color: #140E17;
   color: #fff;
}

main {
   margin: 64px auto;
   display: flex;
   gap: 80px;
   flex-direction: column;
   max-width: 1018px;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style-type: none;
   word-wrap: break-word;
  }

h1, h2, h3, h4 {
   margin: 0;
}

p {
   margin: 0;
   word-wrap: break-word;
}

.blur {
   opacity: 0.1;
}

.hide {
   display: none !important;
}

/* Header */
.header {
   /* margin-bottom: 80px; */
}

.header_block {
   position: relative;
   padding: 18px 24px;
   background-color: var(--low_black);
   display: flex;
   justify-content: space-between;
   border-radius: 32px;
   font-weight: 500;
   font-size: 20px;
   border: 1px solid #000000;
   margin: 0;
   box-sizing: border-box;
}

.header_logo__block {
   box-sizing: border-box;
   max-width: 191px;
   height: 40px;
   padding: 8px 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
   background-color: var(--purple);
   border-radius: 16px;
}

.logo-text {
   text-align: center;
   color: black;
   font-weight: 800;
   font-size: 24px;
   cursor: default;
}

.header_nav {
   display: flex;
   align-items: center;
}

.header__links {
   display: flex;
   flex-direction: row;
   gap: 24px;
   margin: 0;
   padding: 0;
}

.header__links li {
   list-style-type: none;
}

.header_block-right {
   box-sizing: border-box;
   max-width: 56px;
   height: 40px;
   padding: 8px 16px;
   display: flex;
   justify-content: center;
   border-radius: 16px;
}

.beige{
   cursor: pointer;
   background-color: #EBEBEB;
}
/* End of Header */

/* Burger menu */
.burger {
   cursor: pointer;
   background-color: var(--gray);
   border: none;
   z-index: 3;
}

.dropdown_list {
   position: absolute;
   top: 0;
   left: 0;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin: 0;
   padding: 112px 24px 18px 24px;
   list-style-type: none;
   width: 100%;
   background: var(--low_black);
   border-radius: 32px;
   border: 1px solid #000000;
   color: #fff;
   animation: show .3s;
   z-index: 2;
}

@keyframes show {
   from {opacity: 0;} to {opacity: 1;}
}

.nav:hover {
   color: var(--purple);
   cursor: pointer;
}

.burger_block-logo {
   display: flex;
   justify-content: end;
   margin-bottom: 30px;
   width: 100%;
}

.dropdown_list-item {
   display: flex;
   justify-content: space-between;
   font-weight: 500;
   font-size: 24px;
   padding: 24px 8px 24px 24px;
   border-bottom: 1px solid var(--gray);
}

.dropdown_list-item:last-child {
   border: none;
}
/* Eng of burger menu */

/* Hero */
.hero {
   display: flex;
   z-index: 0;
   padding-top: 14px;
   position: relative;
   flex-direction: column;
}

.hero__text {
   position: relative;
   display: flex;
   flex-direction: column;
   padding-right: 17px;
   z-index: 1;
}

.hero__text-title {
   position: relative;
   font-weight: 800;
   font-size: 68px;
   max-width: 539px;
}

.hero p {
   margin: 0;
   padding: 0;
}

.title-first {
   position: relative;
   box-sizing: border-box;
}

.hero__text-pic {
   display: flex;
   justify-content: end;
   position: absolute;
   right: 0;
   top: -14px;
}

.hero__text-subtitle {
   padding-top: 46px;
   font-weight: 500;
   font-size: 24px;
   max-width: 539px;
}

.hero__text-underline {
   position: relative;
   display: flex;
   max-width: 539px;
}

.underline_pic-main {
   position: absolute;
   display: flex;
   top: 3px;
   left: 57px;
}

.underline_pic-small {
   position: absolute;
   display: flex;
   bottom: -25px;
   left: 0;
}

.hero_right{
   position: absolute;
   top: 0;
   right: 0;
   padding: 18px 30px;
}

.hero_right-ellipse {
   display: flex;
   justify-content: center;
}

.hero_right-newpic {
   position: absolute;
   display: flex;
   justify-content: end;
   right: 44px;
   top: -14px;
}

.phone-main {
   width: 335px;
   height: 361.88px;
   position: absolute;
   z-index: 2;
}

.phone-small {
   width: 197.09px;
   height: 210.21px;
   position: absolute;
   z-index: 2;
   display: none;
}

.ellipse-small {
   display: none;
}

.hero_actions {
   margin-top: 64px;
   max-width: 1000px;
   display: flex;
   justify-content: start;
   gap: 24px;
   position: relative;
   flex-wrap: wrap;
}

.hero_input-block {
   display: flex;
   justify-content: start;
}

.input {
   width: 317px;
   padding: 18px 14px;
   z-index: 10;
}

.actions_element {
   display: flex;
   box-sizing: border-box;
   background: #FFFFFF;
   border-radius: 18px;
   font-family: inherit;
   font-weight: 600;
   font-size: 18px;
   color: #76757B;

/* убираем базовые стили от браузера */
   appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   outline: none;
   box-shadow: none;
   border: 0;
}

.actions_element.input:focus {
   color: #000000;
}

.actions_element.btn {
   color: #000000;
   background-color: var(--purple);
   justify-content: space-evenly;
   align-items: center;
   gap: 8px;
   padding: 18px 14px;
   cursor: pointer;
}
/* End of Hero */

/* Features */
.features_block {
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 24px;
   max-width: inherit;
}

.feature_card {
   box-sizing: border-box;
   max-width: 317px;
   display: flex;
   flex-direction: column;
   padding: 32px;
   gap: 24px;
   border: 1px solid var(--purple);
   border-radius: 32px;
}

.card_text {
   display: flex;
   flex-direction: column;
   gap: 18px;
}

.card-middle {
   display: flex;
   justify-content: center;
}

.card-right {
   display: flex;
   justify-content: end;
}

.feature_card h3 {
   font-weight: 700;
   font-size: 42px;
}

.feature_card p {
   font-weight: 500;
   font-size: 18px;
}

/* Screenshots block */
.screenshots_block {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.screenshots_samples {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 40px;
   padding: 0 30px;
}

.content__block { 
   max-width: 545px;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-content: flex-start;
   gap: 24px;
   padding: 17px 17px 14px 17px;
   border: 1px solid #333333;
   border-radius: 32px; 
   margin: 0; 
}

.content__block h2 {
   color: #AADB6B;
}

.content__experience {
   display: flex;
   flex-direction: column;
   font-weight: 500;
   font-size: 17px;
   gap: 20px;
}

.experience-unit {
   display: flex;
   flex-direction: column;
}

a.exp_gray {
   text-decoration: underline;
   font-size: 13px;
   color: #76757B;
}

.exp_gray {
   color: #76757B;
   font-size: 13px;
}

.exp_dolg {
   margin-top: 6px;
   font-size: 13px;
}

.projects {
   position: relative;
   background: var(--purple);
   border-radius: 20.962px;
   color: #000000;
   max-width: 220px;
   max-height: 430px;
   height: 100%;
   display: flex;
   align-items: center;
   gap: 25px;
   padding: 21px;
   border-radius: 32px;
   margin: 0;
   font-weight: 500;
   font-size: 24px;
}

.logo__project {
   max-width: 178.08px;
   max-height: 170.32px;
   border-radius: 50%;
   flex: none;
}

.project__info {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   gap: 11px;
   font-weight: 500;
   font-size: 11.7911px;
}

.title__inside {
   font-weight: 700;
   font-size: 27.5126px;
}

.project__about {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

.proj__btn {
   display: flex;
   justify-content: flex-end;
   padding: 10px 10px;
   border: 0.6px solid #333333;
   border-radius: 11px;
   cursor: pointer;
   box-sizing: border-box;
   gap: 9px;
   font-weight: 600;
   font-size: 11.7911px;
   background-color: transparent;
   color: #000000;

   outline: none !important;
}

.header__wrapper {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -30%);
   width: 658px;
   height: 241px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   background-color: #140E17;
   border: 2px solid #333333;
   border-radius: 24px;
   padding: 29px 72px;
   box-sizing: border-box;
}

.header__photo { 
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
}

.photo {
   width: 182.58px;
   height: 182.58px;
   border-radius: 50%;
   flex: none;
}

.header__content {
   box-sizing: content-box;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-family: inherit;
   margin: 27px 0;
   padding: 0px;
   gap: 29px;
}

.header__content-text {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.header__title {
   font-weight: 800;
   font-size: 31.0379px;
}

.header__subtitle {
   margin: 0;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 10.9545px;
   line-height: 28px;
}

.link__btn { 
   max-width: 105.89px;
   width: 100%;
   cursor: pointer;
   box-sizing: border-box;
   display: flex;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   padding: 8px 8px 8px 21px; 
   background: #D4D3FB;
   border-radius: 8px;
   font-weight: 600;
   font-size: 8px;
   color: #140E17;
   outline: none;
   border: none;
}

.link_logo.btn {
   width: 10.95px;
   height: 10.95px;
}

.text_block {
   padding: 24px;
   position: static;
   display: flex;
   flex-direction: column;
   border: 1px solid #333333;
   border-radius: 32px;
   color: #fff;
   font-weight: 500;
   font-size: 24px;
   gap: 32px;
}

.btn_block {
   display: flex;
   justify-content: end;
}

.text-btn {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding: 18px 14px;
   border: 1px solid #333333;
   border-radius: 18px;
   background: transparent;
   color: white;
   font-weight: 600;
   font-size: 18px;
   cursor: pointer;
   transition: all .3s ease;
}

.text-btn:hover {
   background-color: var(--purple);
   color: #000000;
}
/* End Screenshots block */

/* Start Price block */
.page-block {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.block__title {
   font-weight: 600;
   font-size: 24px;
   color: var(--purple);   
}

.price-list {
   display: flex;
   justify-content: space-between;
   gap: 32px;
}

.price-card {
   padding: 32px;
   width: 50%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 24px;
   background-color: var(--purple);
   border-radius: 32px;
   color: #000000;
   flex: 1 1 auto;
}

.card-content {
   display: flex;
   flex-direction: column;
   gap: 18px; 
   font-weight: 400;
   font-size: 17px;
}

.card-content h4 {
   font-weight: 600;
   font-size: 24px;
}

.price-value {
   font-weight: 800;
   font-size: 68px;
   line-height: 110%;
}

.price-mounth {
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
}

.list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.list-item {
   display: flex;
   align-items: flex-start;
   gap: 4px;
}

.left {
   justify-content: flex-start;
}

.black {
   background: #000000;
   box-sizing: border-box;
   max-width: 201px;
   width: 100%;
}

.black:hover {
   background: #333333;
   color: #fff;
}

.premium { 
   position: relative;
}

.tag {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding: 14px;
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   max-width: 150px;
   width: 100%;
   right: 32px;
   top: -25px;
   background: #000000;
   border: 1px solid #333333;
   border-radius: 18px;
   color: #fff;
}
/* End Price block */

/* Start FAQ block */
.faq-cards {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.faq__question {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.faq__question>.btn_block {
   z-index: 2;
}

.faq__btn {
   cursor: pointer;
}

.faq__inner {
   display: flex;
   flex-direction: column;
   gap: 26px;
   font-weight: 500;
   font-size: 18px;
   color: var(--gray);
}
/* End FAQ block */

/* Start Footer */
.footer {
   padding: 60px 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 24px;
   color: #fff;
}

.footer-socials {
   display: flex;
   flex-direction: column;
   gap: 40px;
   max-width: 232px;
   width: 100%;
}

.footer-logo {
   display: flex;
   align-items: center;
   gap: 4px;
}

.footer-logo .logo-text {
   color: #fff;
}

.footer-links {
   display: flex;
   align-items: center;
   gap: 20px;
}

.footer-column {
   display: flex;
   flex-direction: column;
   max-width: 232px;
   width: 100%;
   gap: 20px;
   font-weight: 500;
   font-size: 20px;
}
/* End Footer */

.feedback-btn{
   display: flex;
   align-items: flex-end;
   padding: 16px;
   box-sizing: border-box;
   background: var(--purple);
   border: 1px solid #333333;
   border-radius: 99px;
   max-width: 56px;
   margin: 20px 0 0 auto;
   cursor: pointer;
}

/* to phone */
@media screen and (max-width: 610px) {
   .hero {
      padding: 0;
   }
   
   .hero__text {
      padding: 0;
   }
   
   section.hero__text-title {
      font-weight: 700;
      font-size: 42px;
   }
   
   div.hero_right {
      padding: 0;
   }

   .newpic-small,
   .ellipse-small,
   .phone-small,
   .title_pic-small,
   .underline_pic-small {
      display: flex;
   }

   .newpic-main,
   .ellipse-main,
   .phone-main,
   .title_pic-main,
   .underline_pic-main {
      display: none;
   }
   
   .hero_actions {
      gap: 16px;
   }

   .hero_right-newpic {
      right: 0;
   }

   .hero__text-title  {
      max-width: 335px;
   }

   .hero__text-pic {
      right: 36px;
      top: 0px;
   }
}

/* Price card to phone*/
@media screen and (max-width: 660px) {
   .price-list {
      flex-wrap: wrap;
   } 
}

 /* to tablet */
@media screen and (min-width: 320px) and (max-width: 860px) {
   main {
      margin: 64px 20px;
      justify-content: center;
   }

   nav.header_nav,
   .header_block > section.beige {
      display: none;
   }

   section.burger {
      display: flex;
   }
}

@media screen and (min-width: 610px) {
   .newpic-small,
   .title_pic-small,
   .underline_pic-small {
      display: none;
   }

   .newpic-main {
      display: flex;
   }
}

@media screen and (max-width: 960px) {
   div.hero_right {
      opacity: 0.2;
   }

}

@media screen and (min-width: 860px) {
   section.burger {
      display: none;
   }
}

@media screen and (max-width: 1015px) {
   .feature_card {
      width: 100%;
      max-width: inherit;
   }
}

/* screenshots to tablet  */
@media screen and (max-width: 768px) {
   /* Start head CV block */
   .header__wrapper {
      max-width: 473.76px;
      max-height: 173.52px;
      padding: 21px 52px;
      border: 1.44px solid #333333;
      border-radius: 17.1378px;
   }

   .photo {
      max-width: 131.45px;
      max-height: 131.45px;
   }

   .header__content {
      margin: 0;
      gap: 21px;
   }

   .header__content-text {
      gap: 7px;
   }

   .header__title {
      font-size: 22px;
   }

   .header__subtitle {
      font-size: 8px;
      line-height: 9px;
   }

   .link__btn { 
      width: 76px;
      height: 19.83px;
      padding: 5.92px 0 5.92px 12px; 
      border-radius: 6px;
      font-size: 6px;
   }

   .logo-btn {
      width: 7.9px;
      height: 7.9px;
   }
   /* End head CV block */

   /* Start experience block */
   .content__block {
      /* width: 392px; */
      padding: 12px 12px 4px 12px;
      border-radius: 17.2484px;
      gap: 17.25px;
   }

   .content__block h2 {
      font-size: 13px;
   }

   .content__experience {
      font-size: 13px;
      gap: 15px;
   }


   a.exp_gray {
      font-size: 9.7px;
   }
   
   .exp_gray {
      font-size: 9.7px;
   }
   
   .exp_dolg {
      margin-top: 4.3px;
      font-size: 9.7px;
   }
   /* End experience block */

   /* Start project block */
   .projects {
      border-radius: 15px;
      /* max-width: 158px; */
      /* height: 309px; */
      gap: 11px;
      padding: 15px;
   }
   
   .logo__project {
      max-width: 122px;
      max-height: 122px;
   }
   
   .project__info {
      gap: 8.5px;
      font-size: 8.5px;
   }
   
   .title__inside {
      font-size: 20px;
   }
   
   .project__about {
      bottom: 13px;
      right: 15px;
   }
   
   .proj__btn {
      padding: 8px 7.6px;
      border: 0.5px solid #333333;
      border-radius: 8.5px;
      gap: 6px;
      font-size: 8.5px;
   }

   .proj_btn-logo{
      width: 11.32px;
      height: 11.32px;
   }
   /* End project block */

   
   /* .footer-socials,
   .footer-column {
      max-width: 352px;
   } */
}

/* screenshots to phone  */
@media screen and (max-width: 480px) {
   /* Start head CV block */
   .header__wrapper {
      max-width: 220px;
      max-height: 80px;
      padding: 10px 24px;
      border-radius: 8px;
      border: 0.67px solid #333333;
   }

   .photo {
      width: 61px;
      height: 61px;
   }

   .header__content {
      gap: 8px;
   }

   .header__content-text {
      gap: 3px;
   }

   .header__title {
      font-size: 10px;
   }

   .header__subtitle {
      font-size: 3.6px;
      line-height: 4px;
   }

   .link__btn { 
      width: 35px;
      height: 9.5px;
      padding: 2.75px 3px 2.75px 6px; 
      border-radius: 2.7px;
      font-size: 3px;
   }

   .logo-btn {
      width: 3.6px;
      height: 3.6px;
   }
   /* End head CV block */

   /* Start experience block */
   .content__block {
      max-width: 185px;
      /* height: 108px; */
      padding: 6px 6px 1px 6px;
      border: 0.25079px solid #333333;
      border-radius: 8.02528px;
      gap: 8px;
   }

   .content__block h2 {
      font-size: 6px;
   }

   .content__experience {
      font-size: 6px;
      gap: 7px;
   }

   a.exp_gray {
      font-size: 4.5px;
   }
   
   .exp_gray {
      font-size: 4.5px;
   }
   
   .exp_dolg {
      margin-top: 2px;
      font-size: 4.5px;
   }
   /* End experience block */

   /* Start project block */
   .projects {
      border-radius: 7px;
      max-width: 73px;
      max-height: 144px;
      gap: 5px;
      padding: 7px;
   }
   
   .logo__project {
      max-width: 59px;
      max-height: 59px;
   }
   
   .project__info {
      gap: 4px;
      font-size: 4px;
   }
   
   .title__inside {
      font-size: 9px;
   }
   
   .project__about {
      bottom: 6.64px;
      right: 7.02px;
   }
   
   .proj__btn {
      padding: 4px 4px;
      box-sizing: border-box;
      border: 0.219446px solid #333333;
      border-radius: 3.95002px;
      gap: 2px;
      font-size: 4px;
   }

   .proj_btn-logo{
      width: 5.27px;
      height: 5.27px;
   }
   /* End project block */

   .footer-socials,
   .footer-column {
      max-width: 352px;
   }
}